@CHARSET "UTF-8";

* {
    font-family: Verdana, sans-serif;
}

body {
  left: 0;
  margin: 0;
  overflow: auto;
  position: relative;
}

/*p, h1, h2, h3, h4, h5 {
	padding-top : 0px;
	padding-bottom : 0px;
	margin-top : 1px;
	margin-bottom : 1px;
}*/

p {
	padding-top : 0px;
	padding-bottom : 0px;
	margin-top : 1px;
	margin-bottom : 1px;
}

h1 {
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: medium;
}

h2 {
	color: red;
	text-align: center;
	font-weight: bold;
	font-size: medium;
}

h3 {
	color: red;
	text-align: center;
	font-weight: normal;
	font-size: medium;
}

h4 {
	color: black;
	text-align:center;
	font-weight: normal;
	font-style: italic;
	font-size: medium;
}

h5 {
	color: red;
	font-weight: normal;
	font-size: smaller;
}

p{
    font-size: normal;
}

.red {
    color: red;
}


/* Initial menu */
.menu {
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a, .menu a:visited {
    color: black;
    font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
    cursor: pointer;
    font-weight : bold;
    border: 1px black solid;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-left: 1.0em;
    padding-right: 1.0em;
}

.icon-menu {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Affichage de l'office */
.office {
    width: 100%;
}

.latin {
    float: left;
    width: 45%;
    margin-left: 2.5%;
    display: block;
}

.francais {
	float: right;
    width: 45%;
    margin-right: 2.5%;
    display: block;
}

.ordo, .verset-intro, .invitatoire, .examen-conscience, .hymne, .ant11, .psaume1, .gloriapatri1, .ant12, .ant21, .psaume2, .gloriapatri2, .ant22, .ant31, .psaume3, .gloriapatri3, .ant32, .lectio, .repons, .antEv, .cantiqueEv, .gloriapatriEv, .preces, .pater, .benedicion, .acclamation, .antMariale {
    display: none;
    margin: 0.5em;
    clear: both;
}

.ordo, .hymne {
    text-align: center;
}